/*---------DON'T DELETE THIS! CLEARFIX! ---------*/
.clearfix:after {
content: "."; 
display: block; 
height: 0; 
clear: both; 
visibility: hidden;
}
  
 .clearfix {
display: inline-block;
}  

    /* Holly Hack Targets IE Win only \*/
    * html .clearfix {height: 1%;}
	.clearfix {display: block;}
    /* End Holly Hack */
	

/*-----------END CLEARFIX----------*/

html, body{margin:0px; padding:0px;}